.header .header_top {
  height: 50px;
}

.header .header_top .container .row .col-3 .header_top_left ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px;
  margin: 5px;
}

.header .header_top .container .row .col-3 .header_top_left ul li a {
  text-decoration: none;
  color: #656565;
  font-size: 18px;
}

.header .header_top .container .row .col-6 .header_top_center ul {
  background: #d9d9d9;
  border-radius: 5px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5px 0px;
  margin: 5px;
}

.header .header_top .container .row .col-6 .header_top_center ul li {
  font-size: 14px;
  color: #434343;
}

.header .header_top .container .row .col-3 .header_top_right ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px;
  margin: 5px;
}

.header .header_top .container .row .col-3 .header_top_right ul li a {
  text-decoration: none;
  color: #656565;
  font-size: 18px;
}

.header .header_bottom .container .row .col-2 .logo_header img {
  width: 160px;
}

.header .header_bottom .container .row .col-7 .nav_bar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px;
  margin: 5px;
}

.header .header_bottom .container .row .col-7 .nav_bar ul li a {
  text-decoration: none;
  color: #2c2c51;
  font-size: 18px;
}

.header .header_bottom .container .row .col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0px 20px;
}

.header .header_bottom .container .row .col-3 a i {
  padding: 10px;
  border-radius: 15px;
  border: solid 1px #cecee2;
}

.header .header_bottom .container .row .col-3 ul {
  border: solid 1px #7b7b93;
  border-radius: 10px;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_bottom .container .row .col-3 ul li {
  padding: 10px 30px;
  list-style: none;
}

.header .header_bottom .container .row .col-3 ul li a {
  text-decoration: none;
  color: #2c2c51;
  font-size: 20px;
}

.news {
  padding: 20px 0px 30px;
}

.news .news_item {
  position: relative;
  color: white;
}

.news .news_item .container .row .col-6 .news_item_info {
  position: absolute;
  top: 30%;
}

.how_it_works .container h1 {
  text-align: center;
  font-size: 34px;
}

.how_it_works .container .work_parts {
  border: 1px solid #e6e9ef;
}

.how_it_works .container .work_parts .row .col-4 {
  border-left: 1px solid #e6e9ef;
  border-right: 1px solid #e6e9ef;
}

.how_it_works .container .work_parts .row .col-4 .col-4_in {
  padding: 30px 45px;
  text-align: center;
}

.how_it_works .container .work_parts .row .col-4 .col-4_in h4 {
  font-size: 22px;
  font-family: ProximaNova, sans-serif;
}

.how_it_works .container .work_parts .row .col-4 .col-4_in p {
  font-size: 16px;
  font-family: Calibri, sans-serif;
  padding: 0px 15px;
}

.calc-exchange {
  padding: 30px 0px;
}

.calc-exchange .container .row .col-6 {
  text-align: center;
  color: #434343;
}

.calc-exchange .container .row .col-6 .calculator p {
  padding: 0px 25px;
}

.calc-exchange .container .row .col-6 .calculator .col-12 {
  -webkit-box-shadow: 0 3px 6px rgba(217, 230, 255, 0.16), 0 3px 12px #eae9ea;
          box-shadow: 0 3px 6px rgba(217, 230, 255, 0.16), 0 3px 12px #eae9ea;
}

.calc-exchange .container .row .col-6 .calculator .col-12 .row .col-6 .form_calc {
  position: relative;
  margin: 10px 0px;
}

.calc-exchange .container .row .col-6 .calculator .col-12 .row .col-6 .form_calc select {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
}

.calc-exchange .container .row .col-6 .calculator .col-12 .row .col-3 input {
  width: 90%;
  font-size: 18px;
  height: 40px;
  margin: 10px 0px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  text-align: center;
}

.calc-exchange .container .row .col-6 .calculator .col-12 .row .col-12 {
  padding: 10px 0px 20px;
}

.calc-exchange .container .row .col-6 .calculator .col-12 .row .col-12 .row .col-6 .calculate_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  width: 50%;
  height: 40px;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #fcd626;
}

.calc-exchange .container .row .col-6 .exchange p {
  padding: 0px 25px;
}

.footer {
  background: #2b2b2e;
}

.footer .footer_top {
  border-bottom: 1px solid #363636;
  padding: 40px 0 30px;
}

.footer .footer_top .container .row .col-3 .footer_left {
  height: 230px;
}

.footer .footer_top .container .row .col-3 .footer_left img {
  width: 160px;
  margin-bottom: 20px;
}

.footer .footer_top .container .row .col-3 .footer_left p {
  color: #AAAAAA;
  font-size: 12px;
  padding-right: 14px;
}

.footer .footer_top .container .row .col-3 .footer_left span {
  color: #FFFFFF;
  font-size: 14px;
}

.footer .footer_top .container .row .col-3 .footer_left ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

.footer .footer_top .container .row .col-3 .footer_left ul li {
  margin-left: 10px;
}

.footer .footer_top .container .row .col-3 .footer_left ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

.footer .footer_top .container .row .col-2 .footer_center {
  height: 230px;
}

.footer .footer_top .container .row .col-2 .footer_center h3 {
  margin-bottom: 50px;
  color: #FFFFFF;
}

.footer .footer_top .container .row .col-2 .footer_center ul {
  padding: 0px;
}

.footer .footer_top .container .row .col-2 .footer_center ul li {
  margin: 10px;
  list-style: none;
}

.footer .footer_top .container .row .col-2 .footer_center ul li a {
  color: #AAAAAA;
  text-decoration: none;
}

.footer .footer_top .container .row .col-3 .footer_right {
  height: 230px;
}

.footer .footer_top .container .row .col-3 .footer_right h3 {
  color: #FFFFFF;
  margin-bottom: 50px;
}

.footer .footer_top .container .row .col-3 .footer_right ul {
  list-style: none;
  padding: 0px;
}

.footer .footer_top .container .row .col-3 .footer_right ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AAAAAA;
  margin-top: 15px;
}

.footer .footer_top .container .row .col-3 .footer_right ul li i {
  margin-right: 10px;
}

.footer .footer_top .container .row .col-3 .footer_right ul li a {
  color: #AAAAAA;
  text-decoration: none;
}

.footer .footer_top .container .row .col-3 .footer_right ul li p {
  margin: 0px;
  color: #AAAAAA;
}

.footer .footer_top .container .row .col-3 .footer_right ul p {
  color: #FFFFFF;
}

.footer .footer_bottom .container .row .col-6 span {
  color: #AAAAAA;
}

.footer .footer_bottom .container .row .col-6 .footer_bottom_right {
  text-align: right;
}

.footer .footer_bottom .container .row .col-6 .footer_bottom_right img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 3px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-1 {
  width: calc(100%/12*1);
  padding: 0px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-2 {
  width: calc(100%/12*2);
  padding: 0px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-3 {
  width: calc(100%/12*3);
  padding: 0px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-4 {
  width: calc(100%/12*4);
  padding: 0px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-5 {
  width: calc(100%/12*5);
  padding: 0px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-6 {
  width: calc(100%/12*6);
  padding: 0px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-7 {
  width: calc(100%/12*7);
  padding: 0px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-8 {
  width: calc(100%/12*8);
  padding: 0px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-9 {
  width: calc(100%/12*9);
  padding: 0px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-10 {
  width: calc(100%/12*10);
  padding: 0px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-11 {
  width: calc(100%/12*11);
  padding: 0px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: calc(100%/12*12);
  padding: 0px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
}
/*# sourceMappingURL=style.css.map */